<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="well">
          <h3><%= @song.name %></h3>
          <h4>by <%= @song.artist.name %></h4>
          <p>
            <% @song.rating.times do %>
              <span class="glyphicon glyphicon-star"></span>
            <% end %>
          </p>

          <hr/>

          <h4><%= link_to edit_song_path do  %>
            <span class="glyphicon glyphicon-pencil"></span>
           <% end %> 
          <%= link_to @song, method: :delete, data: { confirm: 'Are you sure?' } do %>
             <span class="glyphicon glyphicon-trash"></span>
          <% end %>
          </h4>   
        </div><!-- end well -->
      </div><!-- end col-8 -->
      <div class="col-md-2"></div>
  </div>